<h2>New recipe</h2>
<p>
	<label for='name'>Name</label> <br/>
	<input type='input' name='name' id='name'/>
</p>
<p><label for='directionList'>Directions</label><br/>
<textarea name='directionList' id='directionList'/></textarea>
</p>
<p><label for='ingredientList'>Ingredients</label><br/>
<textarea name='ingredientList' id='ingredientList'/></textarea>
</p>
<p><input type='submit' value='Create'/></p>